/* * {
    border: 1px solid red;
} */

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: 'norsebold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.form {
    display: flex; 
    margin: 0 auto;
    /* background-color: black; */
}

.forrest-banner { 
    background-image: url("images/binit-sharma-BiZb01CW0RE-unsplash.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 30vw;

}

.banner-logo {
    position: absolute;
    width: 30vw;
    background: black;
    opacity: 0.6;
    color: white;
    top: 16rem;
    text-align: center;
    font-size: 3.4em;
}


.author {
    position: absolute; 
    width: 29.5%;
    top: 36rem;
    text-align: center;
    color: white;
}

.actual-form {
    background-color: rgb(237, 240, 241);
}



.quotes {
    width: 60%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 16px;
}


.post-form {
    display: flex;
    flex-direction: row;
    padding: 16px;
    font-size: 1.2rem;
    background-color: whitesmoke;
}

.left-post-form, .right-post-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label, input {
    display: block;
    margin: 2px;
}

input {
    border: 2px solid #E5E7EB;
    padding: 5px;
    border-radius: 5px;
}

:not(input[type="password"]):focus {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 2px #665df5;
}

input[type="password"]:invalid {
    border-color: red;    
}

.submit-button {
    padding: 32px;
}

button[type="submit"] {
    padding: 16px;
    border-radius: 6px;
    background-color: #596D48;
    font-weight: 800;
    color: white;
}

input[required]{
    background-image: radial-gradient(#F00 15%, transparent 16%), radial-gradient(#F00 15%, transparent 16%);
    background-size: 1em 1em;
    background-position: right top;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 600px) {
    .form {
        display: flex; 
        margin: 0 auto;
        flex-direction: column;
    }

    .forrest-banner {
        width: 100vw; 
        height: 30vh;
    }

    .banner-logo {
        position: absolute;
        width: 100vw;
        background: black;
        opacity: 0.6;
        color: white;
        top: 10rem;
        text-align: center;
        font-size: 3.4em;
    }
    
    
    .author {
        position: absolute; 
        width: 100vw;
        top: 16rem;
        color: white;
    }

    .actual-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}